@model IEnumerable<AnimalHealth>

@{
    ViewData["Title"] = "Animal Health";
}

<h2 class="display-1 text-center my-4">Animal Health</h2>
<div class="text-center my-4">
    <a class="btn btn-primary active btn-lg my-4" href="@Url.Action("Create")"><i class="fa fa-plus me-2"></i>Create health report for animal</a>
</div>
<table class="table table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th>Health Report ID</th>
            <th>Animal ID</th>
            <th>Animal Name</th>
            <th>Health Status</th>
            <th>Report Date</th>
            <th>Last Vaccination Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var AnimalHealth in Model)
        {
            <tr>
                <td>@AnimalHealth.HealthReportId</td>
                <td>@AnimalHealth.AnimalId</td>
                <td>@AnimalHealth.Animal?.AnimalName</td>
                <td>@AnimalHealth.HealthStatus</td>
                <td>@AnimalHealth.ReportDate</td>
                <td>@AnimalHealth.LastVaccinationDate</td>

                <td>
                    <form asp-action="Delete" asp-controller="AnimalHealth" method="post">
                        <input type="hidden" name="id" value="@AnimalHealth.HealthReportId" />
                        <button type="submit" class="btn btn-danger rounded-pill shadow d-flex align-items-center"><i class="fa fa-trash me-2"></i>Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>