@model IEnumerable<ORMFinal.Models.Exhibit>
@{
    ViewData["Title"] = "Exhibits";
}


<h2 class="display-1 text-center my-4">Exhibit List</h2>


<div class="text-center my-4">
    <a href="@Url.Action("Create")" class="btn btn-primary active btn-lg my-4"><i class="fa fa-plus me-2"></i>Create New Exhibit</a>
</div>

<!-- Search Form -->
<form method="get" action="/Exhibit/Index">
    <div>
        <label for="searchLocation">Search by Location</label>
        <input type="text" id="searchLocation" name="searchLocation" value="@ViewBag.SearchLocation" class="form-control" placeholder="Search by location..." />
    </div>
    <div>
        <label for="searchSize">Search by Size</label>
        <input type="text" id="searchSize" name="searchSize" value="@ViewBag.SearchSize" class="form-control" placeholder="Search by exhibit size..." />
    </div>
    <button type="submit" class="btn btn-primary mt-1">Search</button>
</form>



<table class="table table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th>Exhibit Id</th>
            <th>Location</th>
            <th>Size of Exhibit</th>
            <th>Animal Id</th>
            <th>Animal Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExhibitId</td>
                <td>@item.Location</td>
                <td>@item.Size</td>
                <td>@item.AnimalId</td>
                <td>@item.Animal?.AnimalName</td>
                <td class="d-flex">
                    <a href="@Url.Action("Edit", new { id = item.ExhibitId })" class="btn btn-primary me-2 rounded-pill shadow d-flex align-items-center"><i class="fa fa-edit me-2"></i>Edit</a>
                    <form action="@Url.Action("Delete", new { id = item.ExhibitId })" method="post" style="display:inline;" onsubmit="return confirm('Are you sure to delete this item?');">

                        <button type="submit" class="btn btn-danger rounded-pill shadow d-flex align-items-center"><i class="fa fa-trash me-2"></i>Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
