@model IEnumerable<ORMFinal.Models.Exhibit>
@{
    ViewData["Title"] = "Exhibits";
}


<h2>Exhibit List</h2>


<!-- Search Form -->
<form method="get" action="/Exhibit/Index" class="search-form">
    <div>
        <label for="searchLocation">Search by Location</label>
        <input type="text" id="searchLocation" name="searchLocation" value="@ViewBag.SearchLocation" />
    </div>
    <div>
        <label for="searchSize">Search by Size</label>
        <input type="text" id="searchSize" name="searchSize" value="@ViewBag.SearchSize" />
    </div>
    <button type="submit">Search</button>
</form>


<p>
    <a href="@Url.Action("Create")" class="btn btn-outline-success">Create New Exhibit</a>
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Exhibit Id</th>
            <th>Location</th>
            <th>Size of Exhibit</th>
            <th>Animal Id</th>
            <th>Animal Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExhibitId</td>
                <td>@item.Location</td>
                <td>@item.Size</td>
                <td>@item.AnimalId</td>
                <td>@item.Animal?.AnimalName</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ExhibitId })" class="btn btn-primary">Edit</a>
                    <form action="@Url.Action("Delete", new { id = item.ExhibitId })" method="post" style="display:inline;" onsubmit="return confirm('Are you sure to delete this item?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
