@model IEnumerable<AnimalViewModel>
@{
    ViewData["Title"] = "Animals";
}
<h2 class ="display-1 text-center my-4">Animals</h2>


<div class="text-center my-4">
    @using (Html.BeginForm("Create", "Animal", FormMethod.Get, new { style = "display:inline;" }))
    {
        <button type="submit" class="btn btn-primary active btn-lg my-4">
            <i class="fa fa-plus me-2"></i>
            Add an Animal
        </button>
    }
</div>

    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="searchString" class="form-control" placeholder="Search animals...">
        </div>
    <button type="submit" class="btn btn-primary mt-1">Search</button>
    </form>

<table class="table table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th>Animal Name</th>
            <th>Category</th>
            <th>Habitat</th>
            <th>Species</th>
            <th>Genus</th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model) {
            <tr>
                <td>@viewModel.AnimalName</td>
                <td>@viewModel.AnimalCategory</td>
                <td>@viewModel.Habitat</td>
                <td>@viewModel.Species</td>
                <td>@viewModel.Genus</td>

                <td class="d-flex">
                    <div>
                        @using (Html.BeginForm("Update", "Animal", FormMethod.Get, new { style = "display:inline;" })) {
                            @Html.Hidden("id", viewModel.AnimalId)
                            <button type="submit" class="btn btn-primary me-2 rounded-pill shadow d-flex align-items-center">
                                <i class="fa fa-edit me-2"></i>
                                Edit
                            </button>
                        }
                    </div>
                    <div>
                        @using (Html.BeginForm("Delete", "Animal", FormMethod.Post, new { style = "display:inline;" })) {
                            @Html.Hidden("id", viewModel.AnimalId)
                            <button type="submit" class="btn btn-danger rounded-pill shadow d-flex align-items-center" onclick="return confirm('Are you sure you want to delete this animal?');">
                                <i class="fa fa-trash me-2"></i>
                                Delete
                            </button>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

