@model ORMFinal.Models.Employee

<h2 class="display-1 text-center my-4">Add an employee to the database</h2>



@using (Html.BeginForm())
{
    <div class ="form-group mb-3">
        <label for="Position">Position</label>
        <input type="text" id="Position" name="Position" class="form-control" value="@Model.Position" />
    </div>
    <div class="form-group mb-3">
        <label for="DateStarted">Date Started</label>
        <input type="date" id="DateStarted" name="DateStarted" class="form-control" value="@Model.DateStarted.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group mb-3">
        <label for="DateEnded">Date Ended</label>
        <input type="date" id="DateEnded" name="DateEnded" class="form-control" value="@Model.DateEnded?.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group mb-3">
        <label for="ExhibitId">Exhibit</label>
        <select id="ExhibitId" name="ExhibitId" class="form-control">
            <option value="">Select an Exhibit</option>
            @foreach (var exhibit in (SelectList)ViewBag.Exhibits)
            {
                <option value="@exhibit.Value">@exhibit.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary active btn-lg my-4"><i class="fa fa-plus me-2"></i>Add</button>
}
