@model IEnumerable<ORMFinal.Models.Employee>
@{
    ViewData["Title"] = "Employees";
}

<h2 class="display-1 text-center my-4">Employee List</h2>


<!--Create button  -->
<div class ="text-center my-4">
    <a href="@Url.Action("Create")" class="btn btn-primary active btn-lg my-4"><i class="fa fa-plus me-2"></i>Create New Employee</a>
</div>

<!--Search Form -->
<form method="get" action="/Employee/Index">
    <div>
        <label for="searchPosition">Search by Position</label>
        <input type="text" id="searchPosition" name="searchPosition" value="@ViewBag.SearchPosition" class="form-control" placeholder="Search by employee position..." />
    </div>
    <div>
        <label for="searchExhibit">Search by Exhibit</label>
        <input type="text" id="searchExhibit" name="searchExhibit" value="@ViewBag.SearchExhibit" class ="form-control" placeholder="Search by exhibit..."  />
    </div>
    <button type="submit" class="btn btn-primary mt-1">Search</button>
</form>




<table class="table table-sm table-responsive table-hover">
    <thead>
        <tr>
           
            <th>Id</th>
            <th>Position</th>
            <th>Date Started</th>
@*             <th>
                <a href="/Employee/Index?sortOrder=@(ViewBag.SortOrder == "date_asc" ? "date_desc" : "date_asc")">
                    Date Started
                    @if (ViewBag.SortOrder == "date_asc")
                    {
                        <i class="fa fa-sort-asc"></i>
                    }
                    else if (ViewBag.SortOrder == "date_desc")
                    {
                        <i class="fa fa-sort-desc"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort"></i>
                    }
                </a>
            </th> *@
            <th>Date Ended</th>
            <th>Exhibit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.Position</td>
                <td>@item.DateStarted</td>
                
                <td>@item.DateEnded</td>
                <td>@item.Exhibit?.Location</td>
                <td>

                    <form action="/Employee/Delete" method="post" class="d-inline">
                        <div>
                            <a href="@Url.Action("Edit", new { id = item.EmployeeId })" class="btn btn-primary rounded-pill shadow align-items-center">
                                <i class="fa fa-edit me-2"></i>Edit
                            </a>
                            <input type="hidden" name="id" value="@item.EmployeeId" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-danger rounded-pill shadow d-flex align-items-center">
                                <i class="fa fa-trash me-2"></i>Delete
                            </button>
                        </div>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

